    <!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
</head>
<body ng-controller="StoreController as s">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="product in s.products">
            <h3>
                {{product.name}}
                <em class="pull-right">{{product.price | currency}}</em>
            </h3>
            <img class="img-thumbnail" ng-src="public/images/{{product.images[0].full}}" alt="">
            <section ng-controller="PanelController as p">
                <ul class="nav nav-pills">
                    <li ng-class="{active: p.isSelected(1)}"><a href="" ng-click="p.selectTab(1)">Description</a></li>
                    <li ng-class="{active: p.isSelected(2)}"><a href="" ng-click="p.selectTab(2)">Specifications</a></li>
                    <li ng-class="{active: p.isSelected(3)}"><a href="" ng-click="p.selectTab(3)">Reviews</a></li>
                </ul>
                <div class="panel" ng-show="p.isSelected(1)">
                    <h4>Description</h4>
                    <blockquote>{{product.description}}</blockquote>
                </div>
                <div class="panel" ng-show="p.isSelected(2)">
                    <h4>Specifications</h4>
                    <blockquote>None yet</blockquote>
                </div>
                <div class="panel" ng-show="p.isSelected(3)">
                    <h4>Reviews</h4>
                    <blockquote ng-repeat="review in product.reviews">
                        <b>Star: {{review.stars}}</b>
                        {{review.body}}
                        <cite>by: {{review.author}}</cite>
                    </blockquote>
                    <form name="reviewForm" ng-controller="ReviewController as r"
                        ng-submit="r.addReview(product)">
                        <blockquote>
                            <b>Star: {{r.review.stars}}</b>
                            {{r.review.body}}
                            <cite>by: {{r.review.author}}</cite>
                        </blockquote>
                        <div class="form-group">
                            <label for="stars">Rate the product</label>
                            <select ng-model="r.review.stars" id="stars" class="form-control">
                                <option value="1">1 Star</option>
                                <option value="2">2 Stars</option>
                                <option value="3">3 Stars</option>
                                <option value="4">4 Stars</option>
                                <option value="5">5 Stars</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="body">Rate the product</label>
                            <textarea ng-model="r.review.body" class="form-control" name="" id="body" cols="10" rows="10" 
                            placeholder="Write a short review of the product"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="author">Email: </label>
                            <input ng-model="r.review.author" class="form-control" type="email" id="author" placeholder="jhon@example.com" />
                        </div>
                        <br>
                        <div class="form-group">
                            <input class="btn btn-primary pull-right"
                         type="submit" value="Submit Review">
                        </div>
                        
                        
                    </form>
                </div>
            </section>
        </li>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    </script>
    <script src="js/app.js"></script>
</body>
</html>