<section>
        <ul class="nav nav-pills">
            <li ng-class="{active: p.isSelected(1)}"><a href="" ng-click="p.selectTab(1)">Description</a></li>
            <li ng-class="{active: p.isSelected(2)}"><a href="" ng-click="p.selectTab(2)">Specifications</a></li>
            <li ng-class="{active: p.isSelected(3)}"><a href="" ng-click="p.selectTab(3)">Reviews</a></li>
        </ul>
        <div class="panel" ng-show="p.isSelected(1)">
            <h4>Description</h4>
            <blockquote>{{product.description}}</blockquote>
        </div>
        <div class="panel" ng-show="p.isSelected(2)">
            <h4>Specifications</h4>
            <blockquote>None yet</blockquote>
        </div>
        <div class="panel" ng-show="p.isSelected(3)">
            <h4>Reviews</h4>
            <blockquote ng-repeat="review in product.reviews">
                <b>Star: {{review.stars}}</b>
                {{review.body}}
                <cite>by: {{review.author}}</cite>
            </blockquote>
            <form name="reviewForm" ng-controller="ReviewController as r"
                ng-submit="reviewForm.$valid && r.addReview(product)" novalidate>
                <blockquote>
                    <b>Star: {{r.review.stars}}</b>
                    {{r.review.body}}
                    <cite>by: {{r.review.author}}</cite>
                </blockquote>
                <div class="form-group">
                    <label for="stars">Rate the product</label>
                    <select ng-model="r.review.stars" id="stars" class="form-control" required>
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="body">Rate the product</label>
                    <textarea ng-model="r.review.body" 
                    class="form-control" name="" id="body" cols="10" rows="10" 
                    placeholder="Write a short review of the product" required></textarea>
                </div>
                <div class="form-group">
                    <label for="author">Email: </label>
                    <input ng-model="r.review.author" class="form-control" 
                    type="email" id="author" placeholder="jhon@example.com" required/>
                </div>
                <br>
                <pre>reviewForm is {{reviewForm.$valid}}</pre>
                <div class="form-group">
                    <input class="btn btn-primary pull-right"
                    type="submit" value="Submit Review">
                </div> 
            </form>
        </div>
    </section>